.MenuCategories {
   display: inline-block;
   width: 30%;
   float: left;
   margin-top: 35px;
   border: 1px solid;
   background: #222;
   border-radius: 10px;
}
.MenuCategories li {
   color: #c6f8ff;
   cursor: pointer;
   margin-bottom: 13px;
}
.MenuCategories li:hover {
   color: forestgreen;
}
